<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>People</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<main>
   <h3>
    Hello There! The page you are actively viewing has sent a GET request to retrieve the information from the database.
  </h3>

  <!-- form to add person to database -->
  <form action="/" method="POST" accept-charset="utf-8">
    <p>To add a User (POST request), populate the field and press submit.</p>
    <p class = "row">
      <label for= "name">Name: </label>
      <input id = "name" name = "name" />
    </p>
    <p class = "row">
      <label for= "favoriteCity">Favorite City:  </label>
      <input id = "favoriteCity" name = "favoriteCity" />
    </p>
    <button type = "submit" >Submit</button>
  </form>

  <!-- example text on what to put in fields -->
  <p class = "example">
    Example: <br><br>
    Name: Sean <br>
    Favorite City: New York <br>
  </p>

  <!-- mustache templating here, will display users -->
  {{#people}}

  <h3>Great!</h3>
  <p>Click on the person's name to view and update details.</p>
  Id: {{id}} <br>
  <!-- link to see individual user -->
  Name: <a href="/{{id}}">{{name}}</a><br>
  Favorite City: {{favoritecity}} <br>

  <!-- form to delete user from database -->

  <form class = "delete" method="POST" action="/{{id}}?_method=DELETE">
  <p class = "delete">Or... press the button to delete user (send a DELETE request)</p>
  <button class = "delete">Delete User</button>
  </form>

  {{/people}}
</main>


</body>
</html>
