<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>People</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<main>
  {{#people}}
  <h3>
    Now Viewing {{name}}
  </h3>
  <p>
    Id: {{id}} <br>
    Favorite City: {{favoritecity}}
  </p>
  <p>
    To update {{name}}'s favorite city (PUT request), change the input field and click save.
  </p>
  <!-- This will work with the method described above in the Note in routes
    <form method = "POST" action = "/people?_method=PUT"> -->
    <form method = "POST" action = "/{{id}}?_method=PUT">
    <label for = "favoriteCity">Favorite City:</label>
    <input id = "favoriteCity" name = "favoriteCity" value = "{{favoritecity}}">
    <button type= "submit">Save</button>
    </form>
  {{/people}}
  <br>
  To return to the previous page
  <button onclick="location.href='/'">Go Back</button>

</main>


</body>
</html>
